<div class="container-fluid">
    <div class="row"></div>
    <div class="row mt-2">
        <div class="col-3">
            <button class="btn btn-outline-info btn-block d-block mb-2"
                routerLink='/admin/main/books'
                routlLinkActive='active'>
                Books
            </button>
            <button class="btn btn-outline-info btn-block d-block"
                routerLink='/admin/main/orders'
                routerLinkActive='active'>
                Orders
            </button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>